##
#  Git's per-user Global configuration file
##

[core]
	editor = nvim
	excludesfile = ~/dotfiles/.gitignore_global

[alias]
  recent-branches = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
  log1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  log2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

[color]
	ui = true

[format]
    pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[push]
	default = simple

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
    required = true

[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
    show = diff-so-fancy | less --tabs=1,5 -RFX

[credential]
	helper = osxkeychain
[user]
	name = hdd2k
	email = hank.lee.qed@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
