##
# This is Git's per-user configuration file.
##

[core]
	editor = vim

[alias]
	mylog = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=relative

[color]
	ui = true

[format]
	pretty = oneline

[push]
	default = simple

[user]
	name = foo
	email = foo@bar.com

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
