##
# This is Git's per-user configuration file.
##

[core]
	editor = vim
	excludesfile = /Users/hanklee/dotfiles/.gitignore_global

[alias]
	mylog = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=relative

[color]
	ui = true

[format]
	pretty = oneline

[push]
	default = simple

[user]
	name = hdd2k
	email = hank.lee.qed@gmail.com

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
